<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" content="height=device-height, initial-scale=1.0" />
		<title>Songs Book</title>
		<link rel="stylesheet" type="text/css" href="./SongsBook/files/style.css" />
    <script src="https://kit.fontawesome.com/6f10b46713.js" crossorigin="anonymous"></script>
</head>

<script src="./SongsBook/files/angular.min.js"></script>
<script src="./SongsBook/files/library.js" charset="utf-8"></script>
<!-- <script src="./SongsBook/files/playlist.js" charset="utf-8"></script> -->
<script src="./SongsBook/files/song.js" charset="utf-8"></script>
<script src="./SongsBook/files/main.js" charset="utf-8"></script>

<body ng-app="songsApp" ng-controller="songsCtrl">
	<div id="wrapper">
  <!-- TOP MENU BAR -->
	<div id="menu">
		<!-- playlists -->
		<select id="playList"
			ng-model="PlList.ActiveID"
			ng-change="selectPlaylist()">
			<option ng-repeat="PL in PlList" ng-selected="selectedItem == PL" value="{{PL.id}}">{{PL.name}}</option>
		</select>
		<ul id="menuList">
			<li class="iconBTN {{!songsListOn ? 'borderBox' : 'borderBoxOn'}}" ng-click="showSongs()"><i class="far fa-file-audio"></i></li>
			<li class="iconBTN {{playlistsOn ? 'borderBox' : 'borderBoxOn'}}" ng-click="showPlaylists()"><i class="fas fa-compact-disc"></i></li>
			<li class="iconBTN borderBox" ng-click="foldMenu()"><i class="fas fa-sliders-h"></i></li>
			<li class="iconBTN borderBox" ng-click="showSuggestion()"><i class="fas fa-folder-plus"></i></li>
			<li class="iconBTN {{chordsOff ? 'borderBox' : 'borderBoxOn'}}" ng-click="showChords()"><i class="fas fa-music"></i></li>
			<li class="iconBTN {{parFold ? 'borderBox' : 'borderBoxOn'}}" ng-click="foldPar()"><i class="fas fa-paragraph"></i></li>
		</ul>
	</div>

	<div id="transparentPage" ng-show="suggestionON"></div>


  <!-- PLAY LISTS AND SONGS BAR -->
  <div id="songsList">
    <!-- songs -->
    <div id="playListSongs" ng-show="songsListOn">
      <ul>
        <li ng-repeat="song in PlList.ActivePL.songs" ng-click="showSong(song.id)">
					<div class="songListWrapper">
						<div class="songsListText">
							<div class="songsListTitle" ng-bind="song.name"></div>
							<div class="songsListArtist" ng-bind="LoadedSongs.songs[song.id].Artist"></div>
						</div>
						<div class="playListSongBTN" ng-show="LoadedSongs.songs[song.id] == currentSong"><i class="fas fa-play-circle"></i></div>
					</div>
					<div class="songListHr"></div>
				</li>
      </ul>
    </div>
  </div>

	<!-- SONG BAR -->

    <div id="content">
			<h1 class="songTitle">{{currentSong.Title}}</h1>
			<div paragraphs chords-off="chordsOff" par-fold="parFold" song-object="currentSong"></div>
		</div>
    <div id="songInfo">
			<ul class="songI">
				<li>artist: {{currentSong.Artist}}</li>
				<li>language: {{currentSong.Language}}</li>
				<li>tempo: {{currentSong.Tempo}}</li>
				<li>capo: {{currentSong.Capo}}</li>
				<li>key: {{currentSong.Key}}</li>
			</ul>
		</div>
  </div>

  <!-- FORM FOR SUGGESTING NEW SONG, HIDDEN BY DEFAULT -->
  <form action="SongsBook/suggestNS" method="POST" ng-show="suggestionON" id="suggestNS">
    <button type="button" ng-click="showSuggestion()">X</button>
    <div> SUGGEST A NEW SONG </div>
    <input type="text" name="newSong" id="newSong" placeholder="New song name"  />
    <input type="submit" id="suggestBTN" />
  </form>
</body>
</html>
