*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	border: 0;
}
li, select {
  cursor: pointer;
}

/*GRID____________________________*/
#wrapper {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 70px 1fr 20px;
	width: 100vw; height: 100vh;
  background-color: #e4eefa;
}
#menu {
  grid-column: 1 / span 2;
  grid-row: 1;
	background-color: #e4eefa;
	font-size: 0px;
	box-shadow: 0px 2px 5px #615f5f;
}
#songsList {
  grid-column: 1;
  grid-row: 2 / span 3;
  display: block;
  height: 100%;
	background-color: #e4eefa;
}
#content {
	grid-column: 2;
	grid-row: 2;
	background-color: #eef1ee;
  overflow-y: scroll;
  padding: 50px;
  padding-top: 20px;
}
#songInfo {
	grid-column: 2; grid-row: 3;
	background-color: #e6e6e6;
  border-top: 1px solid gray;
}
/* ________________________________________GRID */

/* MENU_________________________________________ */

#playList {
  float:left;
	display: inline-block; outline: none;
  text-align-last:center;
  height: 40px;
  margin: 15px;
  width: 250px;
	font-size: 17px;
	padding: 10px;
	text-align: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #eff2f5, #d5dde3);
  /* background: #eff2f5; */
  box-shadow: 6px 6px 12px #c2cad5,
            -6px -6px 12px #ffffff;
}
#menuList {
  display: block;
  float: right;
  vertical-align: middle;
  margin: 10px;
}
/* _____________________________________________MENU */

/* Neumorphism and buttons___________________ */

.iconBTN {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 5px; margin-right: 30px;
}
.iconBTN i {
  font-size: 20px;
  padding: 10px;
}
.iconBTN li:hover {
	background-color: #d5e644;
	color: white;
}
.borderBox{
  border-radius: 10px;
  background: linear-gradient(145deg, #f4ffff, #cdd6e1);
  box-shadow: 6px 6px 12px #c2cad5,
            -6px -6px 12px #ffffff;
}
.borderBoxOn, .borderBox:hover {
  border-radius: 10px;
  background: linear-gradient(325deg, #f4ffff, #cdd6e1);
  box-shadow: 3px 3px 5px #c2cad5,
            -3px -3px 5px #ffffff;
}
.borderBoxOn:hover{
  background: linear-gradient(325deg, #f4ffff, #cdd6e1);
  box-shadow: 1px 1px 3px #c2cad5,
            -1px -1px 3px #ffffff;
}

/* __________________________ Neumorphism and buttons */

/* SONGS LIST_________________________________________ */

.songsListTitle {
  font-size: 15px;
}
.songsListArtist{
  font-size: 10px;
}
.songsListText {
  display: inline-block;
}

.playListSongBTN {
  float: right;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 10px; margin-right: 30px;
  border-radius: 10px;
  background: linear-gradient(145deg, #f4ffff, #cdd6e1);
  box-shadow: 6px 6px 12px #c2cad5,
            -6px -6px 12px #ffffff;
}
.playListSongBTN i {
  font-size: 20px;
  padding: 5px;
  color: lightblue;
}


#playListSongs {
	height: calc(100% - 45px); min-height: calc(100% - 45px); max-height: calc(100% - 45px);
	padding-top: 10px; padding-bottom: 10px;
}

#playListSongs ul {
	list-style-type: none;
	height: 100%; max-height: 100%; min-height: 100%;
	width: 100%;
	overflow-y: scroll;
	padding-top: 0px;
	padding-top: 0px; padding-bottom: 0px;
	margin: 0;
}

#playListSongs li {
	display: block;
	padding: 0px;
  padding-left: 20px;
  line-height: 25px;
  width: 100%; min-width: 100%; max-width: 100%;
	overflow-x: hidden;
}

#playListSongs li:hover {
  cursor: pointer;
	font-weight: bold;
  background-color: #d5e644;
}
/* #playListSongs > li:hover:before {
	content: " - ";
	text-indent: -5px;
} */
.songListHr {
  height: 2px; min-height: 2px;
  width: 80%;
  border-bottom: 3px solid #cdd6e1;
}

/* ____________________________________SONGS LIST */


.songI {
  float: right;
  height: 100%; max-height: 100%; min-height: 100%;
}
.songI li {
  display: inline-block;
  float: right;
  height: 100%; max-height: 100%; min-height: 100%;
  font-size: 13px;
  border-right: 1px solid black;
  padding-right: 5px; padding-left: 5px;
}

.songTitle {
  display: block;
  font-size: 25px;
  padding-bottom: 20px;
}

.parName {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.paragraph {
  display: inline-block;
  vertical-align: top;
}

.parContainer {
  display: block;
  margin-bottom: 20px;
}

.paragraphsSpace {
  line-height: 35px;
  margin-top: -11px;
}

.chord {
  display: inline-block;
  z-index: 5;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -18px;
}

/* SUGGEST NEW SONG FORM */

#suggestNS {
  display: block;
  position: fixed;
  z-index: 1001;
  top: calc(50% - 100px); left: calc(50% - 100px);
  border: 1px solid black;
  padding: 20px; padding-top: 0px;
  background-color: #e6e6e6;
  box-shadow: 0px 2px 5px #615f5f;
}

#suggestNS button {
  position: relative;
  right: -15px; top: 5px;
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid black;
  margin-left: auto;
}

#suggestNS input, #suggestNS div {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 1px 2px #615f5f;
}

#suggestBTN:hover {
  background-color: gray;
  color: white;
}

#suggestNS div {
  font-size: 18px;
  margin-top: 0px;
  padding-top: 20px;
  border: 0px;
  box-shadow: 0px 0px 0px #615f5f;
}

#transparentPage {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  opacity: 0.5;
  height: 100%; min-height: 100%;
  width: 100%; min-width: 100%;

}

/* PLAY LIST AND LIST SIDEBAR */




::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
  #wrapper {
    grid-template-columns: 0px 1fr;
    grid-template-rows: 28px 1fr 20px;
  }
  #content {
  }
  #songInfo {
  }
  #songsList {
    display: none;
  }
  #foldMenuBTN {
    display: inline-block;
  }
  #listBTN {
    display: inline-block;
    float: left;
    font-size: 15px;
    padding: 5px; padding-right: 15px; padding-left: 15px;
  }
  #menuList {
    z-index: 150;
    height: auto; min-height: auto; max-height: none;
    position: fixed;
    right: 0px;
    width: 150px;
    top: 28px;
    display: none;
    border-bottom: 1px solid black; border-left: 1px solid black;
    box-shadow: 0px 2px 5px #615f5f;
    background-color: #f2ff85;
  }
  #menuList li {
    width: 100%;
    display: block;
    float: none;
    border: 0;
  }

  #suggestNS {
    top: 28px; left: 0;
    width: 100%; min-width: 100%; max-width: 100%;
    height: calc(100% - 28px); min-height: calc(100% - 28px); max-height: calc(100% - 28px);
  }

}

@media screen and (max-width: 420px) {
  #songsList {
    width: 100%; min-width: 100%; max-width: 100%;
  }
}
